<!-- Header with image logo -->
<header>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/api/AirBnBs/search">Search</a></li>
        <li><a href="/api/users/login">Login</a></li>
        <li><a href="/api/users/register">Register</a></li>
      </ul>
    </nav>
  </header>