<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Airbnb</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <!-- Header with image logo -->
  <%- include('partials/header') %>

  <!-- Main content area with welcome message -->
  <main class="formMain">
    <div class="formMain-text">
        <h2>Welcome to Airbnb</h1>
        <p>Don't just go there. Live there.</p>
    </div>
      
  </main>
  
  <!-- Footer with Team Name -->
  <%- include('partials/footer') %>
</body>
</html>
